<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<div>
  <table>
    <tr>
      <td>
        <p><b>Angular Learning</b></p>
      </td>
      <td><a routerLink="view-emp">View Employee</a></td>
      <td><a routerLink="emp">Employees</a></td>
      <td><a routerLink="edit-emp">Edit Employee</a></td>
      <td><a routerLink="edit-emp-template-driven">Edit Employee - Template</a></td>
      <td><a routerLink="quantity-increment">Quantity Increment</a></td>
    </tr>
  </table>
</div>
<hr>
<div>
  <router-outlet></router-outlet>
</div>